* {
    direction: ltr;
    box-sizing: border-box;
}

div>h1 {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px;
    color: red;
}

main>section {
    width:70%;
    height: 50px;
    float: left;
    background-color:white;
    float: left;
    padding: 5px;
    width: 50%;
    height :290px;


}

main>section>a{
    display: block;
    /* width:30%;
    background-color: #f2f2f2;
    height: 290px;;
    float: left; */
}
#leftside{
padding: auto;
}